:root {
  margin: 0px;
  padding: 0px;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}


body {
  /*background-color: rgb(240, 100, 100); */
  background-color: rgb(110, 220, 110); 
  font-family: monospace;
  color: whitesmoke;
  width: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 4rem;
  -webkit-text-stroke: 3px black;
  text-stroke: 3px black;
}

h2 {
  font-size: 2rem;
}

.timer > h1 {
  font-size: 8rem;
  -webkit-text-stroke: 3px black;
  text-stroke: 3px black;
}

img {
  height: 60px;
  width: auto;
}

.quote {
  height: 200px;
  background-color: #222;
  border-radius: 32px;
  width: 75%;
  margin: 0 auto;
  display: hidden;
  text-align: center;
  box-shadow: 3px 3px #444;
  /*animation: fade-In 1.2s; TODO implement animation */
}

.hide {
  visibility: hidden;
}

.container {
  width: 80%;
  height: 75%;
  position: absolute;
  top: 10%;
  left: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.timer {
  text-align: center;
}

.timer-controls {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 12px;
}

button {
  display: inline-block;
  padding: 12px;
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
  margin: 0 auto;
  width: 10rem;
  font-size: 1rem;
  font-family: monospace;
  border-radius: 12px;
}

button:hover {
  transform: scale(1.08);
}


button:active {
  box-shadow: 0 5px #333;
  transform: translateY(2px);
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #222;
}