body {
  background-color: rgb(240, 100, 100);
  font-family: monospace;
  color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 4rem;
  -webkit-text-stroke: 3px black;
  text-stroke: 2px black;
}

h2 {
  font-size: 2rem;
}

.timer > h1 {
  font-size: 10rem;
  -webkit-text-stroke: 3px black;
  text-stroke: 3px black;
}

img {
  height: 60px;
  width: auto;
}

.quote {
  height: 200px;
  background-color: #222;
  border-radius: 32px;
  width: 75%;
  margin: 0 auto;
  display: hidden;
}

.hide {
  visibility: hidden;
}

.container {
  width: 80%;
  height: 75%;
  position: absolute;
  top: 10%;
  left: 10%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.timer {
  text-align: center;
}

.timer-controls {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 12px;
}

button {
  display: inline-block;
  padding: 12px;
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
  margin: auto auto;
  width: 10rem;
  font-size: 1rem;
  font-family: monospace;
  border-radius: 12px;
}
